table {
    width: 100%;
    border-spacing: 0;
    text-align: center;
}
th, td {
    text-align: center;
}
#pages table {
  width: 100%;
  border:none;
  padding: 10px;
}
#pages tr {
    display: block;
}
#pages td {
    margin: 5%;
    border-bottom: none;
    display: inline-block;
}
.center {
    text-align: center;
}
.txtR {
    text-align: right;
}
