<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    {{ $baseUrl := .Site.BaseURL }}
    <h1 class="sidebar-heading"><a href="{{ $baseUrl }}">{{ .Site.Title }}</a></h1>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ $baseUrl := .Site.BaseURL }}
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ $baseUrl }}{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "social_buttons_in_sidebar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        <p>{{ partial "shuzon_github.html" . }}</p>
        <p style='font-size:5px;'>{{ partial "attribution.html" . }}</p>
      </p>
    </div>
  </div>
</div>
